<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Faulkner County Museum</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FaulknerCountyMuseumGallery.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />
    @* links for carlito font *@
    @* use: font-family: 'Carlito', sans-serif; in css *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Carlito&display=swap" rel="stylesheet"> 

</head>
<body>
    <header class="container">
            <div class="nav_menu">
                <a class="nav-link text-dark" asp-page="/Index"><div id="stitle" >Faulkner County Museum</div></a>
                    <ul>
                        <li class="nav_item">
                            <a class="nav-link text-dark" asp-page="/About"><div id="titleb">About</div></a>
                        </li>
                        <li class="nav_item">
                            <a class="nav-link text-dark" asp-page="/Gallery"><div id="titleb">Gallery</div></a>
                        </li>
                        <li class="nav_item">
                            <a class="nav-link text-dark" href="https://my-site-104396.square.site"><div id="titleb">Donate</div></a>
                        </li>
                        <li class="nav_item">
                            <a class="nav-link text-dark" asp-page="/Admin"><div id="titleb">Admin</div></a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                @* </div> *@
            </div>
        @* </nav> *@
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Faulkner County Museum - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer> *@
    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <p>The Faulkner County Museum is a nonprofit registered under 501(c)(3) #71-0726554.</p>
                </div>
                <div class="col-sm-4">
                    <div class="float-right">
                        <a href="https://www.instagram.com/faulknercountymuseum/"><img class="instaL_img" src="~/instagram_logo.png" alt="img"/></a>
                        <a href="https://www.facebook.com/FaulknerCoMuseum/"><img class="faceL_img" src="~/face_book_logo.webp" alt="img"/></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>