@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<!DOCTYPE html>
<html lang="en">

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Faulkner County Museum</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FaulknerCountyMuseumGallery.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/headfoot.css"/>
    <link rel="stylesheet" href="~/css/login.css"/>
    <link rel="stylesheet" href="~/css/backend_styling.css"/>
    <link rel="stylesheet" href="~/css/gallery.css"/>
    @* links for carlito font *@
    @* use: font-family: 'Carlito', sans-serif; in css *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Carlito&display=swap" rel="stylesheet"> 

</head>
<body>
    <header class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" asp-page="/Index">
                <img src="~/Falkner_county_logo.png" width="150" height="auto" alt="Faulkner County Museum">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class = "navbar-nav">
                    <a class="nav-item nav-link" style="color: black;" asp-page="/Index"><div class="circle">Home</div></a>
                    <a class="nav-item nav-link" style="color: black;" asp-page="/About"><div class="circle">About</div></a>
                    <a class="nav-item nav-link" style="color: black;" asp-page="/Gallery"><div class="circle">Gallery</div></a>
                    <a class="nav-item nav-link" style="color: black;" target="_blank" href="https://my-site-104396.square.site"><div class="circle">Donate</div></a>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a class="nav-item nav-link" style="color: black;" asp-page="/Admin"><div class="circle">Admin</div></a>
                    }
                    </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Faulkner County Museum - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer> *@
    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p>The Faulkner County Museum is a nonprofit registered under 501(c)(3) #71-0726554.</p>
                </div>
                @if (SignInManager.IsSignedIn(User))
                {
                    <div class="col-sm-2">
                        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                            <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
                        </form>
                    </div>
                }
                else
                {
                    <div class="col-sm-2">
                        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                    </div>
                }
                <div class="col-sm-4">
                    <div class="float-right">
                        <a href="https://www.instagram.com/faulknercountymuseum/"><img class="instaL_img" src="~/instagram_logo.png" alt="img"/></a>
                        <a href="https://www.facebook.com/FaulknerCoMuseum/"><img class="faceL_img" src="~/face_book_logo.webp" alt="img"/></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>