@page
@model FaulknerCountyMuseumGallery.Pages.Collections.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div  id="page_title">Create Collection</div>

<hr />
<div class="bb row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Collection.Name" class="control-label"></label>
                <input asp-for="Collection.Name" class="form-control" />
                <span asp-validation-for="Collection.Name" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 30px;">
                <input type="submit" value="Create" class="searchb" />
                <a class="searchb" asp-page="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
