

.instaL_img {
    width: 15%;
    height: auto;
    float: right;
    padding: 10px;
    margin-right: 6px;
    transition: transform 0.85s;
  }
  
  .instaL_img:hover {
    transform: rotate(360deg);
  }
  
  .faceL_img {
    width: 15%;
    height: auto;
    float: right;
    padding: 10px;
    margin-right: 6px;
    transition: transform 0.5s;
  }
  
  .faceL_img:hover {
      transform: rotate(360deg);
  }
  
  .nav_menu {
    border-style: solid;
    border-color: black;
    align-items: center;
    align-self: center;
    background-color: #83cd64;
    text-align: center;
    width: 100%;
    float: left;
  }
  
  
  #stitle {
    font-size: 29px;
    font-family: 'Carlito', sans-serif;
    font-style: black;
    text-align: center;
    background-color: #72bb53;
    padding: 7.5px;
    border-style: solid;
    border-color: black;
    margin-bottom: 10px;
  }
  
  
  .nav_item {
    display: inline-block;
    width: 33%;
    margin: 0 auto;
  }
  