.M_img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
    height: auto;
    border-style: solid;
    border-color: black;
}

.logo {
    animation: fade 3s;
    background-color: #72bb53;
    position: absolute;
    padding: 25px;
    width: 250px;
    height: 500px;
    z-index: 1000;
    right: 200px;
    margin-top: 120px;
    overflow: hidden;
    border-style: solid;
    border-color: black;
}

.M_logo_img {
    width: 175px;
    height: auto;
}

.mission {
    font-size: 20px;
}

.home_dis {
    font-family: 'Carlito', sans-serif;
    width: 1300px;
    height: 750px;
    overflow: hidden;
    position: relative;
}


