.M_img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    border-style: solid;
    border-color: black;
}

.logo {
    animation: fade 3s;
    background-color: #72bb53;
    position: absolute;
    padding: 2%;
    width: 18%;
    height: 80%;
    z-index: 1;
    right: 15%;
    margin-top: 5%;
    overflow: hidden;
    border-style: solid;
    border-color: black;
}

.M_logo_img {
    width: 100%;
    height: auto;
}

.mission {
    font-family: 'Carlito', sans-serif;
}

.home_dis {
    font-family: 'Carlito', sans-serif;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    font-size: 1.7vw;
}


