
#registerSubmit  {
    font-size: 25px;
    font-family: 'Carlito', sans-serif;
    font-style: black;
    text-align: center;
    background-color: #72bb53;
    padding: 5px;
    border-style: solid;
    border-color: black;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  
  #registerSubmit:hover {
    background-color: #6baf4e;
  }
  


  #login-submit  {
    font-size: 25px;
    font-family: 'Carlito', sans-serif;
    font-style: black;
    text-align: center;
    background-color: #72bb53;
    padding: 5px;
    border-style: solid;
    border-color: black;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 25%;
    padding-right: 25%;
  }
  
  
  #login-submit:hover {
    background-color: #6baf4e;
  }
  