html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 100px;
}

select {
  background-color: #72bb53;
  padding: 0.5em;
}

nav {
  background-color: #72bb53;
  font-size: 25px;
  font-family: 'Carlito', sans-serif;
  color: black;
  padding: 10px;
  border-style: solid;
  border-color: black;
}

#title {
  font-size: 25px;
  font-family: 'Carlito', sans-serif;
  font-style: black;
  text-align: center;
  background-color: #72bb53;
  padding: 10px;
  border-style: solid;
  border-color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

#titleb {
  font-size: 25px;
  font-family: 'Carlito', sans-serif;
  text-align: center;
  background-color: #72bb53;
  padding: 5px;
  border-style: solid;
  border-color: black;
  text-decoration: none;
  margin-bottom: 10px;
  color: black;
  text-decoration: none;
  transition: 1s;
}


#titleb:hover {
  animation: color_shift 0.5s;
  background-color: #6baf4e;
}


@keyframes color_shift{
  0% {
    background-color: #72bb53;
  }
  100% {
    background-color: #6baf4e;
  }
}

.search {
  border-style: solid;
  border-color: black;
  padding: 3px;
  text-align: center;
  margin: auto;
}

.searchb, a.searchb {
  font-size: 20px;
  font-family: 'Carlito', sans-serif;
  color: black;
  text-align: center;
  background-color: #72bb53;
  padding: 2px;
  margin: 10px;
  border-style: solid;
  border-color: black;
  text-decoration: none;
  transition: 1s;
  border-width: 2px;
  line-height: 1;

}


.searchb, input.searchb {
  font-size: 20px;
  font-family: 'Carlito', sans-serif;
  color: black;
  text-align: center;
  background-color: #72bb53;
  padding: 5px;
  margin: 10px;
  border-style: solid;
  border-color: black;
  text-decoration: none;
  transition: 1s;
  border-width: 2px;
  line-height: 1;

}


.searchb:hover {
  animation: color_shift 0.5s;
  background-color: #6baf4e;
}


.searchb:disabled, .searchb.disabled, fieldset:disabled .searchb {
  pointer-events: none;
  opacity: 0.65;
}


.b {
  border-style: solid;
  border-color: black;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f8f7f3;
  text-align: center;
  width: 100%
}

.bb {
  border-style: solid;
  border-color: black;
  padding: 10px;
  background-color: #f8f7f3;
  /* text-align: center; */
  margin-bottom: 10px;
  width: 100%;
  float: left;

}

.bbb {
  border-style: solid;
  border-color: black;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f8f7f3;
  text-align: center;
  width: 100%;
}

.bb {
  border-style: solid;
  border-color: black;
  padding: 10px;
  background-color: #f8f7f3;
  /* text-align: center; */
  margin-bottom: 100px;
  width: 100%;
  float: left;
}



@keyframes fade {
  0% {
      transform: translate(15px, 0px);
      opacity: 0;
  }
  100% {
      transform: translate(0px, 0px);
      opacity: 1;
  }
}


.loader {
  border: 4px solid rgb(237, 236, 236);
  border-top: 4px solid#72bb53;
  border-bottom: 4px solid#72bb53;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s;
  animation-iteration-count: infinite;
}



@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.M_logo_key_img {
  height: 7px;
  transform: translate(1px,-3px);
}



  .green-link {
    color: #72bb53;
    transition: 1s;
  }

  .green-link:hover {
    color: #67a34b;
  }

  #page_title {
    font-size: 25px;
    font-family: 'Carlito', sans-serif;
    font-style: black;
    text-align: center;
    background-color: #72bb53;
    padding: 10px;
    border-style: solid;
    border-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    width: 100%;
  }

  #popoverLink {
    color: #72bb53;
    text-decoration-line: underline;
  }

  .popover{
    max-width: 100%; 
  }