@page

@{
    ViewData["Title"] = "Admin Directory";
}

<h2>Admin Directory</h2>

<div>
    <a asp-page="./Artworks/Index">
        Artworks Index
    </a>
</div>
<div>
    <a asp-page="./Artists/Index">
        Artists Index
    </a>
</div>
<div>
    <a asp-page="./Mediums/Index">
        Mediums Index
    </a>
</div>
<div>
    <a asp-page="./Collections/Index">
        Collections Index
    </a>
</div>