@page

@{
    ViewData["Title"] = "Admin Directory";
}

<div id="title" style="text-align: left; margin-left: 20px;">Admin Directory</div>

<div>
    <a asp-page="./Artworks/Index">
        Artworks Index
    </a>
</div>
<div>
    <a asp-page="./Artists/Index">
        Artists Index
    </a>
</div>
<div>
    <a asp-page="./Mediums/Index">
        Mediums Index
    </a>
</div>
<div>
    <a asp-page="./Collections/Index">
        Collections Index
    </a>
</div>