@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <div class = 'col-sm-12' id="page_title">Home</div>
    <div class="home_dis">
        <div class="logo"> 
            <img class="M_logo_img" src="~/Falkner_county_logo.png">
            <p class="mission"> The mission of the Faulkner County Museum is to educate the public regarding the natural and cultural prehistory and history of the geographic region which today is known as Faulkner County.</p>
        </div>
        <img class="M_img" src="~/museum.png" alt="img"/>
    </div>
    <div class="h">
        <div id="title">History</div>
        <p class="b">The idea for the Faulkner County Museum began in 1992. Concerned individuals who believed that Faulkner County should have a permanent repository for its history petitioned the Faulkner County Quorum Court for a museum. The Museum was created in August 1992 by Faulkner County Ordinance 92-16. The ordinance created a Museum commission, but provided for no funding or building. Between 1992 and 1995 the Museum raised funds, collected artifacts, and sought a home. In 1995 the Faulkner County Library moved from its location on Courthouse Square to its present location on Tyler Street, freeing the historic 1896 Faulkner County Jail building. The Faulkner County Museum moved into the historic structure and opened its doors to the public in 1997. The Museum was funded through grants and private donations. In 2001, the Faulkner County Museum Commission petitioned the Faulkner County Quorum Court for funding to insure its continued survival. After several meetings, the Quorum Court granted the Museum a one mil voluntary tax. Currently, the Museum is funded through the voluntary milage, private donations from the Friends of the Museum, grants and corporate donations. The Museum staff is composed of one full-time director and approximately 20 enthusiastic and dedicated volunteers.</p>
    </div>
</div>
