@page
@model FaulknerCountyMuseumGallery.PopoverModel
@{
    ViewData["Title"] = "Popover";
    Layout = null;
}
<h5>Instructions to Generate Link</h5>
<ol>
  <li>Upload image into Google Photos</li>
  <li>Click "Share", "Create link", and then copy the resulting link</li>
  <li>Navigate to <a href="https://www.labnol.org/embed/google/photos">https://www.labnol.org/embed/google/photos</a></li>
  <li>Paste the Google Photos link, click "Generate Embded Code", and copy the "Direct Image Link"</li>
  <li>Paste the new link into this form</li>
</ol>
