@page
@model FaulknerCountyMuseumGallery.Pages.Artworks.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div id="page_title">Create Artwork</div>
<hr />
<div class="row create">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" >
                <label asp-for="Artwork.Title" class="control-label"></label>
                <input asp-for="Artwork.Title" class="form-control" value=@(Model.Title)/>
                <span asp-validation-for="Artwork.Title" class="text-danger"></span>
            </div>
             <div class="form-group" >
                <label asp-for="Artwork.AccessionNumber" class="control-label"></label>
                <input asp-for="Artwork.AccessionNumber" class="form-control" value=@(Model.AccessionNumber)/>
                <span asp-validation-for="Artwork.AccessionNumber" class="text-danger"></span>
            </div>
            <div class="form-group" >
                <label asp-for="Artwork.ImageLink" class="control-label"></label>
                <input asp-for="Artwork.ImageLink" class="form-control" value=@(Model.ImageURL)/>
                <span asp-validation-for="Artwork.ImageLink" class="text-danger"></span>
            </div>
            
            <div class="form-group" >
                <label asp-for="Artwork.Size" class="control-label"></label>
                <input asp-for="Artwork.Size" class="form-control" value=@(Model.Size)/>
                <span asp-validation-for="Artwork.Size" class="text-danger"></span>
            </div>
            <div class="form-group" style="clear: both;">
                <label asp-for="Artwork.MediumID" class="control-label"></label>
                <select asp-for="Artwork.MediumID" class="form-control"
                        asp-items="@Model.MediumNameSL">
                    <option value="">-- Select Medium --</option>
                </select>
                <span asp-validation-for="Artwork.MediumID" class="text-danger" />
            </div>
            @* <button asp-page-handler="CreateMedium" formnovalidate>Create New Medium</button> *@
            <button class="s_add_button"  asp-page-handler="CreateMedium" formnovalidate>+</button>

            <div class="form-group" style="clear: both;">
                <label asp-for="Artwork.Status" class="control-label"></label>
                <input asp-for="Artwork.Status" class="form-control" value=@(Model.Status)/>
                <span asp-validation-for="Artwork.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Artwork.Donor" class="control-label"></label>
                <input asp-for="Artwork.Donor" class="form-control" value=@(Model.Donor)/>
                <span asp-validation-for="Artwork.Donor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Artwork.ArtistID" class="control-label"></label>
                <select asp-for="Artwork.ArtistID" class="form-control"
                        asp-items="@Model.ArtistNameSL">
                    <option value="">-- Select Artist --</option>
                </select>
                <span asp-validation-for="Artwork.ArtistID" class="text-danger" />
            </div>
            @* <button asp-page-handler="CreateArtist" formnovalidate>Create New Artist</button> *@
            <button class="s_add_button" asp-page-handler="CreateArtist" formnovalidate>+</button>
            <div class="form-group" style="clear: both;">
                <label asp-for="Artwork.CollectionID" class="control-label"></label>
                <select asp-for="Artwork.CollectionID" class="form-control"
                        asp-items="@Model.CollectionNameSL">
                    <option value="">-- Select Collection --</option>
                </select>
                <span asp-validation-for="Artwork.CollectionID" class="text-danger" />
            </div>
            @* <button asp-page-handler="CreateCollection" formnovalidate>Create New Collection</button> *@
            <button class="s_add_button" asp-page-handler="CreateCollection" formnovalidate>+</button>
            <div class="form-group">
                <input type="submit" value="Create" class="searchb" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
