@page
@model FaulknerCountyMuseumGallery.Pages.Artworks.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div  id="page_title">Edit Artwork</div>

<hr />
<div class="bb row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Artwork.ArtworkID" />
            <div class="form-group">
                <label asp-for="Artwork.ArtworkID" class="control-label"></label>
                <div>@Html.DisplayFor(model => model.Artwork.ArtworkID)</div>
            </div>
            <div class="form-group">
                <label asp-for="Artwork.Title" class="control-label"></label>
                <input asp-for="Artwork.Title" class="form-control" />
                <span asp-validation-for="Artwork.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Artwork.AccessionNumber" class="control-label"></label>
                <input asp-for="Artwork.AccessionNumber" class="form-control" />
                <span asp-validation-for="Artwork.AccessionNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Artwork.ImageLink" class="control-label"></label>
                <a id="popoverLink" >Help</a>
                <input asp-for="Artwork.ImageLink" class="form-control" />
                <span asp-validation-for="Artwork.ImageLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Artwork.Size" class="control-label"></label>
                <input asp-for="Artwork.Size" class="form-control" />
                <span asp-validation-for="Artwork.Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Artwork.Status" class="control-label"></label>
                <input asp-for="Artwork.Status" class="form-control" />
                <span asp-validation-for="Artwork.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Artwork.Donor" class="control-label"></label>
                <input asp-for="Artwork.Donor" class="form-control" />
                <span asp-validation-for="Artwork.Donor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Artwork.Artist" class="control-label"></label>
                <select asp-for="Artwork.ArtistID" class="form-control"
                    asp-items="@Model.ArtistNameSL"></select>
                <span asp-validation-for="Artwork.ArtistID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Artwork.Medium" class="control-label"></label>
                <select asp-for="Artwork.MediumID" class="form-control"
                    asp-items="@Model.MediumNameSL"></select>
                <span asp-validation-for="Artwork.MediumID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Artwork.Collection" class="control-label"></label>
                <select asp-for="Artwork.CollectionID" class="form-control"
                    asp-items="@Model.CollectionNameSL"></select>
                <span asp-validation-for="Artwork.CollectionID" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 30px;">
                <input type="submit" value="save" class="searchb" />
                <a class="searchb" asp-page="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
